/* Overall style adapted from w3schools Responsive Web Design with CSS: https://www.w3schools.com/css/css_rwd_intro.asp */

/* Optional choices featured in this css document: 
		Responsive design (in all image styles and font sizes as well as the relationships between the borders of each section), 
		Use of at least 3 semantic elements (header, footer, section, nav, article) */
		

/* Setting style for whole page, helvetica font and borders for each section
	Style was formed with reference to the following w3schools articles: 
	CSS fonts (https://www.w3schools.com/css/css_font.asp) 
	CSS box sizing (https://www.w3schools.com/css/css3_box-sizing.asp)	*/
* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
}

/* Image style options, one being floating on the right side of the screen and the other to be centered below content. Both have responsive designs.
Style was formed with reference to the following w3schools articles: RWD images (https://www.w3schools.com/css/css_rwd_images.asp), 
CSS align (https://www.w3schools.com/css/css_align.asp), 
CSS box model (https://www.w3schools.com/css/css_boxmodel.asp)  */
.floatRight {
	float: right;
	width: 40%;
	height: auto;
	max-width: 500px;
    padding: 10px;
}	
.centerPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
	max-width: 500px;
    padding: 10px;
}

/* Styling link colours, dark brown for unclicked and cream for visited.
 Style was formed with reference to w3schools CSS links (https://www.w3schools.com/css/css_link.asp) */
a:link {
  color: #3C280B;
}
a:visited {
  color: #F9F6F0;
}

/* Adding the dark brown colour to other headings along with a subheading style for article sections, 
Setting responsive font sizes for each text type inclusing unordered lists. 
Style formed with reference to w3schools css text (https://www.w3schools.com/css/css_text.asp)*/
h1 {
  color: #3C280B;
  font-size: 100%;
}
h4 {
  color: #3C280B;
  font-style: italic;
  font-size: 85%;
}
p {
  text-indent: 30px;
  text-align: justify;
  font-size: 90%;
}
ul {
	font-size: 90%;
}

/* Styling the main header text with brown background and cream font, adding a subheader to the header section to label each different page.
Top corners ID referenced from w3schools CSS rounded corners (https://www.w3schools.com/css/css3_borders.asp) */
header {
  background-color: #6F5B3E;
  padding: 10px;
  text-align: center;
  font-size: 200%;
  color: #F9F6F0;
}
h3 {
  color: #F9F6F0;
  font-size: 60%;
}
#topCorners {
  border-radius: 50px 50px 0px 0px;
}
  
/* Container for flexboxes 
Style created with reference to w3schools Responsive Flexboxes (https://www.w3schools.com/css/css3_flexbox_responsive.asp) */
section {
  display: -webkit-flex;
  display: flex;
}

/* Styling the navigation menu to have beige background colour and including FlexBox creation options. Also styling the navigation list inside the section, including an override for the smaller font size I wanted in other lists.
Style created with reference to the following w3schools: Responsive Flexboxes (https://www.w3schools.com/css/css3_flexbox_responsive.asp), CSS lists (https://www.w3schools.com/css/css_list.asp), css text (https://www.w3schools.com/css/css_text.asp) */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #C4AE78;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 10px;
  line-height: 2;
  font-size: 100%;
}

/* Styling the main content section to have cream background colour and including FlexBox creation settings. Article is set to be larger than nav section, either next to or above it.
Style created with reference to w3schools Responsive Flexboxes (https://www.w3schools.com/css/css3_flexbox_responsive.asp)*/
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #F9F6F0;
  padding: 10px;
}

/* Styling the footer to match the header, set font to be small using responsive size settings.
Style formed with reference to the following w3schools: css text (https://www.w3schools.com/css/css_text.asp), CSS rounded corners (https://www.w3schools.com/css/css3_borders.asp) */
footer {
  background-color: #6F5B3E;
  padding: 10px;
  color: #F9F6F0;
  font-size: 60%;
}
#bottomCorners {
  border-radius: 0px 0px 50px 50px;
}
/* Fixing issue where paragraph style having an indent over-rode the text alignment in the footer style section*/
#footerFix {
  text-align: center;
}

/* Responsive Web Design layout, making the nav section stack above the article section if the screen is small.
Created with reference to w3schools RWD Media Queries (https://www.w3schools.com/css/css_rwd_mediaqueries.asp) */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}